html,
body {
	overflow: hidden !important;
}

button {
	background-color: #908e8e;
	color: #fff !important;
}

.active::before {
	color: #0fb413 !important;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

.main-panel {
	height: 100%;
}

.main-panel .content-wrapper {
	height: 100vh;
	overflow-y: auto;
}

div.container-scroller {
	height: 100% !important;
}

div.main-panel #myTable_wrapper div.row div#myTable_length

/*.dataTables-length*/ {
	margin-top: 10px;
}

nav.navbar a {
	font-size: 0.7rem;
	color: #fff;
}

nav.navbar a:hover {
	text-decoration: none;
	background-color: white;
	transition-duration: 1s;
	color: #000 !important;
	border-left-color: black !important;
}

.footer-powered-by {
	position: fixed;
	width: 15rem;
	bottom: 0;
	color: #999;
	/* background-color: #282828; */
	background-color: #181824;
	font-size: 0.6rem;
	padding: 1rem;
	transition: 1s;
	border-top: 0.1rem solid #333;
}

.footer-powered-by img {
	object-position: -20% 0;
	object-fit: cover;
}

.footer-powered-by a {
	background: linear-gradient(to right, #f2bf3d, #4f80f4, #e8696f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 0.7rem;
	font-weight: 600;
}

.footer-powered-by a img {
	transition-duration: 0.3s;
	transform: scale();
}

.footer-powered-by a img:hover {
	transform: scale(1.1);
}

.navbar-brand-wrapper {
	height: 5rem !important;
}

.sidebar.sidebar-offcanvas {
	height: 100%;
}

#sidebar .nav.nav-container {
	overflow-y: auto;
	height: 94vh;
	padding-bottom: 5rem;
	margin-top: 1rem;
}

div.card-body {
	/* height: 100vh !important; */
}

@media (max-width: 991px) {
	.navbar-brand-wrapper {
		height: 4.4rem !important;
		width: fit-content !important;
		display: inline-flex;
		border-bottom: 0.001rem black solid;
	}

	.navbar-brand-wrapper a {
		margin-top: 0 !important;
	}

	.navbar-menu-wrapper {
		background-color: #181824;
	}

	.navbar span.icon-menu {
		color: white;
	}

	.main-panel .box .container {
		left: 0 !important;
	}

	.sidebar.sidebar-offcanvas {
		overflow: hidden;
		margin-top: 0;
	}

	#sidebar .nav.nav-container {
		margin-top: 0.1rem;
	}
}

.main-panel .box {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	position: fixed;
	background: #ddd;
	height: 100%;
	width: 100%;
	z-index: 1;
	opacity: 0.5;
}

.main-panel .box .container {
	left: -6rem;
	width: 7rem;
	display: flex;
	position: relative;
}

.main-panel .box .container .dot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: gray;
	animation: move 500ms linear 0ms infinite;
	margin-right: 30px;
}

.main-panel .box .container .dot:first-child {
	position: absolute;
	top: 0;
	left: 0;
	animation: grow 500ms linear 1ms infinite;
}

.main-panel .box .container .dot:last-child {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 0;
	animation: grow 500ms linear 0s infinite reverse;
}

@keyframes grow {
	from {
		transform: scale(0, 0);
		opacity: 0;
	}

	to {
		transform: scale(1, 1);
		opacity: 1;
	}
}

@keyframes move {
	from {
		transform: translateX(0px);
	}

	to {
		transform: translateX(45px);
	}
}

::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.modal {
	backdrop-filter: brightness(0.5) !important;
}

.error > input,
.error > label,
.error > span {
	border-color: #ef5350 !important;
	color: #ef5350 !important;
}

span.message {
	padding: 2px 5px 2px 5px;
	color: #fff;
	border-radius: 5px;
	text-align: center;
}

span.message.error {
	background-color: #ef5350 !important;
}

span.message.success {
	background-color: #2fba1f !important;
}

table {
	width: 100%;
	/* min-width: 550px; */
}
.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
	min-width: 200px !important; /* Adjust the min-width as per your preference */
}

table thead th {
	padding: 0.5rem;
	background-color: #00507a !important;
	text-align: left;
	color: white;
	font-size: 0.8rem;
	font-weight: 700;
}

table thead th i {
	font-weight: 200;
	font-size: 10px;
	display: block;
	/* position: absolute; */
	margin-top: -2px;
}

table tr td {
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	font-size: 0.8rem;
	width: -webkit-fill-available !important;
}

table tbody tr:last-child,
table tbody th {
	border-bottom: 1px #ddd solid;
}

table tr td:first-child {
	text-align: center;
}

table tr td:last-child {
	padding-right: 1rem;
	display: inline-grid;
}

table td {
	padding-left: 0.5rem;
	width: 1rem;
	white-space: nowrap;
	padding-bottom: 0.5rem;
	align-items: center;
}

table tr:nth-child(even) {
	background-color: #bde8ff !important;
}

table tr:nth-child(odd) {
	background-color: #fff !important;
}

#myTable_filter {
	margin-right: 0.5rem;
}

#PDFContent tr,
#PDFContent td {
	background-color: #fff;
	margin: 1rem;
}

.modal#Submit_deposit div#dateOfDeposit input::before,
.modal#Submit_deposit div#dateRange input::before {
	position: absolute;
	background-color: #fff;
	font-size: 13px;
	margin-top: -2.8rem;
	margin-left: -0.2rem;
	padding: 0 5px;
}

.modal#Submit_deposit div#settlements span  {
	position: absolute;
	margin-top: .7rem;
	margin-left: 0.6rem;
}

.modal#Submit_deposit span {
	opacity: 0.5;
	background-color: #fff;
	font-size: 13px;
	padding: 0 5px;
	pointer-events: none;
	transition: all 200ms;
}

.modal#Submit_deposit button span {
	opacity: 1;
	background-color: transparent;
	font-size: 14px;
	padding: 0 5px;
	pointer-events: auto;
	transition: all 200ms;
}

.modal#Submit_deposit div#dateRange input[name="collection_date_from"]::before {
	content: "From *";
}

.modal#Submit_deposit div#dateRange input[name="collection_date_to"]::before {
	content: "To *";
}

.modal#Submit_deposit div#dateOfDeposit input[name=deposited_date]::before {
	content: "Date of Deposit *" !important;
}

.modal#Submit_deposit input[type="date"] {
	font-size: 14px;
	width: 10rem;
	padding-left: 1rem !important;
}


.modal#Submit_deposit div#referenceNo.filled span,
.modal#Submit_deposit div#dateOfDeposit.filled span,
.modal#Submit_deposit div#settlements #fees_pcab .filled span,
.modal#Submit_deposit div#settlements #legal_research_fund .filled span,
.modal#Submit_deposit div#settlements #document_stamp_tax .filled span {
	opacity: 1;
	margin-top: -0.64rem;
}

/* .modal#Submit_deposit div#dateOfDeposit span {
	opacity: 1;
	margin-top: 0.4rem;
} */

.modal#Submit_deposit.loading input {
	background-color: #efefef;
	
}


.modal#Submit_deposit.loading button{
	opacity: .7;
	pointer-events: none;
	user-select: none;
}

.modal#Submit_deposit.loading button span {
	display: none;
}

.modal#Submit_deposit.loading button span[hidden],
.modal#Submit_deposit.loading button i[class*="icon-"].spin[hidden] {
	display: inline-block !important;
}

.spin {
	animation: infinite spinner 1s !important;
}

@keyframes spinner {
	12.5% {
		transform: rotate(45deg);
	}
	25% {
		transform: rotate(90deg);
	}
	37.5% {
		transform: rotate(135deg);
	}
	50% {
		transform: rotate(180deg);
	}
	62.5% {
		transform: rotate(225deg);
	}
	75% {
		transform: rotate(270deg);
	}
	87.5% {
		transform: rotate(315deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#PDFContent tr {
	background-color: transparent !important;
}

#PDFContent tr td:first-child {
	text-align: left !important;
}

#PDFContent table tr td:last-child {
	padding-right: 1rem !important;
	display: table-cell !important;
}

/* .modal#Submit_deposit div#requirements input#referenceNo:focus > span {
	position: absolute;
    opacity: .6;
    background-color: #FFF;
    font-size: 13px;
    margin-top: 1.7rem;
    margin-left: 0.6rem;
    padding: 0 5px;
}
.table th, .table td {
    vertical-align: middle;
    font-size: 0.875rem;
    line-height: 0.6!important;
    white-space: nowrap;
	border: 0.52px solid black;
}
    pointer-events: none;
} */

/* .card {
        min-height: 0;
        max-height: 95vh;
    }
    .table-responsive {
        overflow-y: auto;
    } */
