html,
body {
	overflow: hidden !important;
}

button {
	background-color: #908e8e;
	color: #FFF !important
}

.active::before {
	color: #0fb413 !important;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

.main-panel {
	height: 100%;
}

.main-panel .content-wrapper {
	height: 100vh;
	overflow-y: auto;
}

div.container-scroller {
	height: 100% !important;
}

div.main-panel #myTable_wrapper div.row div#myTable_length

    /*.dataTables-length*/ {
	margin-top: 10px;
}

nav.navbar a {
	font-size: 0.7rem;
	color: #fff;
}

nav.navbar a:hover {
	text-decoration: none;
	background-color: white;
	transition-duration: 1s;
	color: #000 !important;
	border-left-color: black !important;
}

.footer-powered-by {
	position: fixed;
	width: 15rem;
	bottom: 0;
	color: #999;
	/* background-color: #282828; */
	background-color: #181824;
	font-size: 0.6rem;
	padding: 1rem;
	transition: 1s;
	border-top: 0.1rem solid #333;
}

.footer-powered-by img {
	object-position: -20% 0;
	object-fit: cover;
}

.footer-powered-by a {
	background: linear-gradient(to right, #f2bf3d, #4f80f4, #e8696f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 0.7rem;
	font-weight: 600;
}

.footer-powered-by a img {
	transition-duration: 0.3s;
	transform: scale();
}

.footer-powered-by a img:hover {
	transform: scale(1.1);
}

.navbar-brand-wrapper {
	height: 5rem !important;
}

.sidebar.sidebar-offcanvas {
	height: 100%;
}

#sidebar .nav.nav-container {
	overflow-y: auto;
	height: 94vh;
	padding-bottom: 5rem;
	margin-top: 1rem;
}

div.card-body {
	/* height: 100vh !important; */
}

@media (max-width: 991px) {
	.navbar-brand-wrapper {
		height: 4.4rem !important;
		width: fit-content !important;
		display: inline-flex;
		border-bottom: 0.001rem black solid;
	}

	.navbar-brand-wrapper a {
		margin-top: 0 !important;
	}

	.navbar-menu-wrapper {
		background-color: #181824;
	}

	.navbar span.icon-menu {
		color: white;
	}

	.main-panel .box .container {
		left: 0 !important;
	}

	.sidebar.sidebar-offcanvas {
		overflow: hidden;
		margin-top: 0;
	}

	#sidebar .nav.nav-container {
		margin-top: 0.1rem;
	}
}

.main-panel .box {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	position: fixed;
	background: #ddd;
	height: 100%;
	width: 100%;
	z-index: 1;
	opacity: 0.5;
}

.main-panel .box .container {
	left: -6rem;
	width: 7rem;
	display: flex;
	position: relative;
}

.main-panel .box .container .dot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: gray;
	animation: move 500ms linear 0ms infinite;
	margin-right: 30px;
}

.main-panel .box .container .dot:first-child {
	position: absolute;
	top: 0;
	left: 0;
	animation: grow 500ms linear 1ms infinite;
}

.main-panel .box .container .dot:last-child {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 0;
	animation: grow 500ms linear 0s infinite reverse;
}

@keyframes grow {
	from {
		transform: scale(0, 0);
		opacity: 0;
	}

	to {
		transform: scale(1, 1);
		opacity: 1;
	}
}

@keyframes move {
	from {
		transform: translateX(0px);
	}

	to {
		transform: translateX(45px);
	}
}

::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

table {
	width: 100%;
}

table thead th {
	padding: 0.5rem;
	background-color: #bfe7c1 !important;
	text-align: left;
	font-size: 0.8rem;
	font-weight: 700;
} 

table tr td {
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	font-size: 0.8rem;
}

table tbody tr:last-child,
table tbody th {
	border-bottom: 1px #ddd solid;
}

table tr td:first-child {
	text-align: left;
}

table tr td:last-child {
	padding-right: 1rem;
}

table td {
	padding-left: 0.5rem;
	width: 1rem;
	white-space: nowrap;
	padding-bottom: 0.5rem;
	align-items: center;
}

table tr:nth-child(even) {
	background-color: #e5f4e6 !important;
}

table tr:nth-child(odd) {
	background-color: #fff !important;
}
#myTable_filter{
	margin-right: 0.5rem;
}
#PDFContent tr,
#PDFContent td {
	background-color: #fff;
	margin: 1rem;
}

/* .card {
        min-height: 0;
        max-height: 95vh;
    }
    .table-responsive {
        overflow-y: auto;
    } */
